<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>
        <h1>New character</h1>
        <form method="POST" action="/new">
            Name <input type="text" name="name" />
        </form>
    </body>
</html>




